PORT=5000
MONGODB_URI=mongodb+srv://hrithikraomadarapu_db_user:LcD22JWfdF2vQhGy@cms-cluster.ayqb1pd.mongodb.net/wantace_roof_estimator?appName=cms-cluster
JWT_SECRET=replace-with-a-long-random-secret
ADMIN_USERNAME=admin
ADMIN_PASSWORD=roofing2026!
CLIENT_ORIGIN=http://localhost:5173
